{% extends 'layout/base.html' %}

{% block title %} Accueil {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Question - Niveau {{ question.level }} - Option {{ question.option }} - Game {{ question.game.value }}</h1>
    <div id="question-details">
        {% if question %}
            <h3>{{ question.question_text }}</h3>
            {% if question.game.value == 'QCM' %}
                {% set options = question.correct_answer.split('|') %}
                <form action="{{ url_for('submit_answer') }}" method="post">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    {% for option in options %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" id="option{{ loop.index }}" value="{{ option }}">
                            <label class="form-check-label" for="option{{ loop.index }}">
                                {{ option }}
                            </label>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">Soumettre</button>
                </form>
            {% elif question.game.value == 'Chiffrement par décalage (César)' %}
                <p>Indice : Décalage de {{ question.CHIFFREMENT_CESAR_details[0].shift }}</p>
                <form action="{{ url_for('submit_answer') }}" method="post" style="text-align: center;">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <input type="text" name="answer" class="form-control" placeholder="Votre réponse">
                    <button class="btn btn-primary m-3 main_bt" type="submit" style="width: 200px;background-color: green;">Soumettre</button>
                </form>
            {% elif question.game.value == 'Pendu' %}
            <ul>
                {% for question in questions %}
                    <li>{{ question.correct_answer }}</li>
                {% endfor %}
            </ul>    
            {% elif question.game.value == 'Motus' %}
                <form action="{{ url_for('submit_answer') }}" method="post" style="text-align: center;">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <input type="text" name="answer" class="form-control" placeholder="Votre réponse">
                    <button class="btn btn-primary m-3 main_bt" type="submit" style="width: 200px;background-color: green;">Soumettre</button>
                </form>
            {% elif question.game.value == 'Question simple' %}
                <form action="{{ url_for('submit_answer') }}" method="post" style="text-align: center;">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <input type="text" name="answer" class="form-control" placeholder="Votre réponse">
                    <button class="btn btn-primary m-3 main_bt" type="submit" style="width: 200px;background-color: green;">Soumettre</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
